.Title {
    color: white;
    margin: 0;
    width: 50%;
    padding: 30px 60px;
}

.activity-container {
    display: grid;
    grid-template-columns: 4fr 1.3fr;
    margin: auto;
}

.all-activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    margin: auto;
    width: 90%;
}

.user-activity {
    background-color: white;
    height: 800px;
    position: sticky;
    top: 0;
}