.question-container h1 {
    text-align: center;
    color: white;
}

.questions {
    margin: auto;
    width: 80%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}